*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ef8c86;
}

 /*.outerbody {
    border: 1px solid black;
    height: 700px;
    background: yellow;
} */

.calbody {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    height: 320px;
    width: 220px;
    background: #034c65;
}

.outputarea {
    background: black;
    width: 100%;
    height: 26%;
    
}

.numvalue {
    color: whitesmoke;
    display: flex;
    align-content: flex-end;
    justify-content: end;
    padding-top: 30px;
    padding-right: 12px;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}

.button-area {
    
    height: 14rem;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    
    
}

.col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 15%;
    height: 100%;
    
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 15%;
    height: 100%;
}

.col-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 15%;
    height: 100%;
}

.col-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 20%;
    height: 100%;
    
}

button {
    border: 1px solid black;
    border-radius: 50px;
    height: 2rem;
    cursor: pointer;
    background: #c3c8d3;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #ffffff;
}

.operator {
    background: #e09145;
    transition: background-color 0.3s ease;
}

.ac {
    background: #fb6d6c;
}

.operator:hover {
    background: #fcd9b8;
}

.equals {
    background: #bfb0a0;
}